*.zip
*.o
*.bmp
*.mp4
/fredbje_ps2/data
/fredbje_ps2/serialRPS
/fredbje_ps2/RPSparallel
/mpitutorial
/simple_stack_TDT4200
*.dSYM
/fredbje_ps3/RPS_pthread
/fredbje_ps3/RPS_omp
/fredbje_ps4/a.c
/fredbje_ps4/example1
/fredbje_ps4/example4
/fredbje_ps4/test

